{% extends 'base.html.twig' %}

{% block title %}
    <img src="https://qweeby.com/wp-content/uploads/2018/06/Qweeby_E-Facteur-de-performance-820x340.png" alt="Qweeby"/><br>
    <h1>Factures</h1>{% endblock %}

{% block body %}
<table class="table">
    <thead>
    <tr>

        <th>id</th>
        <th>Numéro facture</th>
        <th>Emetteur</th>
        <th>Récepteur</th>
        <th>Montant TTC</th>
        <th>Montant HT</th>
        <th>Date de facture</th>
        <th>Date INPI</th>
        <th>Alerte</th>
    </tr>
    </thead>
    <tbody>
    {% if(factures) %}
        {% for facture in factures %}
            <tr>
            <td>{{ facture.id }}</td>
            <td>{{ facture.numerofacture }}</td>
            <td>{{ facture.idemetteur }}</td>
            <td>{{ facture.idrecepteur }}</td>
            <td>{{ facture.montantttc }}</td>
            <td>{{ facture.montantht }}</td>
            <td>{{ facture.datefacture | date('Y-m-d')}}</td>
            <td>{{ facture.dateinpi | date('Y-m-d')}}</td>
            <td>{{ facture.alerte }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}
