{% extends 'base.html.twig' %}


{% block body %}
<table class="table">
    <thead>
    <tr>

        <th>Id facture</th>
        <th>Numéro facture</th>
        <th>Emetteur</th>
        <th>Récepteur</th>
        <th>Montant TTC</th>
        <th>Montant HT</th>
        <th>Date de facture</th>
        <th>Date INPI</th>
        <th>Alerte</th>
    </tr>
    </thead>
    <tbody>
    {% if(factures) %}
        {% for facture in factures %}
        <tr>
            <td>{{ facture.id_facture }}</td>
            <td>{{ facture.numerofacture }}</td>
            <td>{{ facture.idemetteur }}</td>
            <td>{{ facture.idrecepteur }}</td>
            <td>{{ facture.montantttc }}</td>
            <td>{{ facture.montantht }}</td>
            <td>{{ facture.datefacture | date('Y-m-d')}}</td>
            <td>{{ facture.dateinpi | date('Y-m-d')}}</td>
{#            <td class="colour_{{facture.alerte}}"> {{ facture.alerte }}</td>#}

            <td>
                <div>
                        {% if facture.alerte == 0 %}

                    <div data-tooltip="bonne santé financière" class="colour_0">

                    </div>


                {% elseif facture.alerte == 1 %}
                    <div data-tooltip="a connu quelques difficultés" class="colour_1">

                    </div>
                {% elseif facture.alerte == 2 %}
                    <div data-tooltip="en difficulté" class="colour_2">

                    </div>
                {% elseif facture.alerte == 3 %}
                    <div data-tooltip="en liquidation" class="colour_3">

                    </div>

                        {% endif %}>

                </div>
            </td>


        </tr>


        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}
